name: Generate Artifacts
on:
  workflow_dispatch:
    inputs:
      publish:
        description: "Should the workflow publish the content library?"
        default: false
        type: boolean
      environment:
        description: "Which environment should the workflow publish to?"
        required: true
        default: "Staging"
        type: choice
        options:
          - Testing
          - Staging
          - Production
      distinct_id:
        description: "This input required to run the workflow from return-dispatch"

  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

defaults:
  run:
    shell: bash -le {0}

jobs:
  return-dispatch:
    name: Retune Dispatch
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: echo Retune Dispatch
        run: |
          echo "publish=${{ inputs.publish }}"
          echo "environment=${{ inputs.environment }}"